alacritty
btop
cava/shaders
cava/themes
Code
composer
dconf
glow
go
gtk-3.0
gtk-4.0
jgit
Kvantum
lazydocker
lazygit
libreoffice
mpd/database
mozilla
nvim/lazy-lock.json
nwg-look
obs-studio
obsidian
pulse
qt5ct
qt6ct
sqlitebrowser
systemd
vesktop
vlc
xsettingsd
mimeapps.list
QtProject.conf
user-dirs.dirs
user-dirs.locale
