alacritty
btop
cava/shaders
cava/themes
Code
dconf
glow
go
gtk-3.0
gtk-4.0
jgit
lazydocker
lazygit
mozilla
nvim/lazy-lock.json
nwg-look
obs-studio
obsidian
pulse
vesktop
xsettingsd
mimeapps.list
QtProject.conf
user-dirs.dirs
user-dirs.locale