@theme "gruvbox-dark-soft"

configuration {
    font: "Iosevka Nerd Font Bold 30";
}

window {
    children: [message, listview];
    width: 450px;
    border: 2px;
    padding: 5px;
}

textbox {
    horizontal-align: 0.5;
}

listview {
    columns: 1;
    lines: 5;
}

element {
    padding: 5px;
    border-radius: 10px;
}

element-text {
    horizontal-align: 0.5;
}