@import url("themes/mocha.css");

* {
  min-height: 0;
  padding: 0;
  margin: 0;
  font-family: "Iosevka Nerd Font Propo";
  font-weight: bold;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

tooltip {
  background-color: @crust;
  color: @text;
  border-color: @green;
  border: 1px solid;
  padding: 10px;
}

#workspaces {
  margin-top: 10px;
  margin-left: 10px;
  background-color: @surface0;
  border-radius: 10px;
}

#workspaces button {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
}

#workspaces button.active {
  background-color: @green;
  color: @crust;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
  animation: ws_active 20s ease-in-out 1;
  transition: all 0.2s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#workspaces button:hover {
  background-color: @surface2;
  color: @text;
  border-radius: 10px;
  animation: none;
}

#clock,
#language,
#bluetooth,
#network,
#custom-updates,
#privacy,
#custom-media,
#custom-wfrecorder,
#mpd {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  color: @crust;
  border-radius: 10px;
  margin-top: 10px;
}

#window {
  margin-left: 10px;
  margin-top: 10px;
}

#submap {
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  color: @crust;
  background-color: @red;
  margin-left: 10px;
  border-radius: 10px;
}

#wireplumber {
  padding-left: 10px;
  padding-right: 0px;
  background-color: @peach;
  color: @crust;
  border-radius: 10px 0px 0px 10px;
  margin-left: 10px;
  margin-top: 10px;
}

#wireplumber.source {
  padding-right: 10px;
  border-radius: 0px 10px 10px 0px;
  margin-left: 0px;
}

#clock {
  background-color: @green;
  margin-right: 10px;
}

#language {
  background-color: @maroon;
}

#bluetooth {
  background-color: @blue;
}

#network {
  background-color: @teal;
}

#custom-updates {
  background-color: @yellow;
}

#privacy {
  background-color: @peach;
}

#custom-media {
  background-color: @teal;
}

#custom-wfrecorder {
  background-color: @red;
}

#mpd {
  background-color: @green;
}

#tray {
  margin-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  background-color: @surface0;
  border-radius: 10px;
}
